name: Build bittorrent-tracker From Source & Push to Registries

on:
  push:
    paths:
      - 'bittorrent-tracker/trigger.txt'
  workflow_dispatch:

jobs:
  build-and-push-arch:
    name: Build and Push bittorrent-tracker From Source
    runs-on: ubuntu-latest
    steps:
      - name: Clone Gitea repository
        run: |
          git clone https://${{ secrets.GITEA_USERNAME }}:${{ secrets.GITEA_CODE_PAT }}@${{ secrets.GITEA_HOST }}/${{ secrets.GITEA_USERNAME }}/bittorrent-tracker.git .

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: 10
          run_install: false

      - name: Set up Node.js and pnpm
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install dependencies
        run: |
          npm set @gitea:registry=https://${{ secrets.GITEA_HOST }}/api/packages/${{ secrets.GITEA_USERNAME }}/npm/
          npm config set -- '//${{ secrets.GITEA_HOST }}/api/packages/${{ secrets.GITEA_USERNAME }}/npm/:_authToken' "${{ secrets.GITEA_CODE_PAT }}"
          pnpm install --frozen-lockfile
          pnpm publish